<div id="<%= dom_id category %>">
  <p>
    <strong>Heading:</strong>
    <%= category.heading %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= category.body %>
  </p>

  <p>
    <strong>Display:</strong>
    <%= category.display %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= category.order %>
  </p>

</div>
