<!DOCTYPE html>
<html>
  <head>
    <title>Solstice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <div class="<%= @page %>-page">
      <div class="row page-container">
        <%= render 'layouts/links' %>
        <div class="col-8">
          <% unless @page == 'home' %>
            <%= render 'layouts/title'  %>
          <% end %>
          <%= yield %>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
    <%= render "shared/flashes" %>
  </body>
</html>
